  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

 
  body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Inter", sans-serif !important;
    font-weight: normal;
    font-style: normal;
    margin: 0;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: auto;
    background-color: rgb(42, 64, 98);
    background-size: 100% 100%;
  }
  
  .final-txt {
    font-weight: 700;
    font-family: "Inter", sans-serif !important;
    line-height: 42px;
    font-size: 38px;
  }
  .header-title {
    color: rgb(255, 255, 255);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    margin: auto;
    text-align: center;
  }
  .notice-text {
    font-family: "Inter", sans-serif !important;
    line-height: 44px;
    font-size: 40px;
  }
  .text-free {
    font-family: "Inter", sans-serif !important;
    letter-spacing: 0em;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .cta_btn {
    width: 100%;
    height: auto;
    background-color :#00A521 !important;
    border-color: #00A521!important;
    margin: 10px 0px 0px;
    padding: 10px 0px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 24px !important;
    text-decoration: none !important;
    display: block !important;
    font-family: "Inter", sans-serif !important;
    text-decoration: none !important;
  }
  .cta_btn:hover {
    color: white;
    box-shadow: inset 0 2px 2px 0 rgba(255, 255, 255, 0.22), 0 233px 233px 0 rgba(255, 255, 255, 0.12) inset;
    cursor: pointer
}
  
  .footer-link {
    color: black;
    font-family: "Inter", sans-serif !important;
  }
  
  .boxme {
    font-family: "Inter", sans-serif !important;
    text-align: center;
    padding: 40px 34px;
    background-color: #fff;
    border-top: 5px solid #00007c;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
.dev-cont {
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
  #form2 {
    display: none;
  }

  .q2 {
    font-size: 35px !important;   
   }


  /* Add media queries for different screen sizes */
  @media (max-width: 959px) {
    .header{
        height: 35px;
    }
    .header-title {
      font-size: 14px;
    }
  
    .final-txt {
      font-weight: 700;
      font-family: "Inter", sans-serif !important;
      line-height: 42px;
      font-size: 36px;
    }
    .text-free {
      line-height: normal;
      font-size: 21px;
    }
    .mt-3 {
        margin-top: 0.5rem; /* Adjust the margin value for smaller screens */
      }
    
      .mt-5 {
        margin-top: 2rem; /* Adjust the margin value for smaller screens */
      }
      .dev-cont {
        max-width: none;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
 
  }



  @media (max-width: 375) {
    .cta_btn{
      font-size: 20px!important;
    }
  }
  @media only screen and (max-width: 767px) {
    body:after {
        content:'mobile'
    }
    .cta_btn{
      font-size: 20px !important;
    }
    .q2 {
      font-size: 32px !important;   
     }
.final-txt{
  line-height: 37px;
  font-size: 33px;
  letter-spacing: -1px;
  word-spacing: 0px;
}



}
